In [3]:
from iexfinance.stocks import Stock
from iexfinance.stocks import get_historical_data
from datetime import datetime
import pandas as pd

In [4]:
start = datetime(2015, 1, 1)
end = datetime(2019, 1, 1)

In [5]:
spylist = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table = spylist[0]

In [6]:
symbol = table['Symbol'] # Selecting the column Filter

In [7]:
symbol # all companies

0        MMM
1        ABT
2       ABBV
3       ABMD
4        ACN
5       ATVI
6       ADBE
7        AMD
8        AAP
9        AES
10       AMG
11       AFL
12         A
13       APD
14      AKAM
15       ALK
16       ALB
17       ARE
18      ALXN
19      ALGN
20      ALLE
21       AGN
22       ADS
23       LNT
24       ALL
25     GOOGL
26      GOOG
27        MO
28      AMZN
29       AEE
       ...
475     VIAB
476        V
477      VNO
478      VMC
479      WAB
480      WMT
481      WBA
482      DIS
483       WM
484      WAT
485      WEC
486      WCG
487      WFC
488     WELL
489      WDC
490       WU
491      WRK
492       WY
493      WHR
494      WMB
495     WLTW
496     WYNN
497      XEL
498      XRX
499     XLNX
500      XYL
501      YUM
502      ZBH
503     ZION
504      ZTS
Name: Symbol, Length: 505, dtype: object

In [8]:
batch = symbol # This will take a long time, there are 500 companies!!!
#batch = symbol_sample # a small sample
dataframes = {}
for company in batch:
    df = get_historical_data(company, start, end, output_format='pandas')
    dataframes[company] = df

In [9]:
# add new column... companies

for key, value in dataframes.items():
    dataframes[key]['company'] = key

In [10]:
dataframes["MMM"] #for sampling purposes

                open      high       low     close   volume company
date
2015-01-02  147.7433  148.0752  145.9673  147.1602  2117562     MMM
2015-01-05  146.2094  146.7835  143.5902  143.8414  3692901     MMM
2015-01-06  144.2540  144.7473  141.4949  142.3075  3537144     MMM
2015-01-07  143.4288  143.7696  142.5677  143.3391  3081291     MMM
2015-01-08  144.1015  146.8284  143.9849  146.7745  3149592     MMM
2015-01-09  146.9719  147.1064  144.6576  144.9716  2378568     MMM
2015-01-12  145.6623  145.6623  143.5364  144.1822  2149230     MMM
2015-01-13  145.5188  147.4509  143.0251  144.0746  2706698     MMM
2015-01-14  142.6574  143.9939  142.1730  143.3749  1983535     MMM
2015-01-15  144.3168  144.8101  142.9511  143.2135  1881406     MMM
2015-01-16  143.3929  145.4739  142.7022  145.3124  2349676     MMM
2015-01-20  145.9583  146.5682  143.5723  145.2586  2096201     MMM
2015-01-21  145.0075  146.5413  144.4334  145.7968  1597680     MMM
2015-01-22  146.4427  148.8914  145.4291  148.8017  2225819     MMM
2015-01-23  148.6762  148.8825  147.0257  147.1244  2249181     MMM
2015-01-26  146.7656  147.3576  145.1331  147.3217  3556293     MMM
2015-01-27  145.5905  148.1290  144.3616  146.7745  4190749     MMM
2015-01-28  147.6536  149.4117  146.8912  147.0526  3574594     MMM
2015-01-29  147.1692  149.0439  146.1018  149.0170  2674618     MMM
2015-01-30  147.7792  148.2008  145.5815  145.5815  3561892     MMM
2015-02-02  145.4201  147.6626  144.3168  147.4832  2379692     MMM
2015-02-03  148.1559  149.0708  147.7433  148.8466  2604773     MMM
2015-02-04  148.7031  148.7479  147.3217  147.8330  2363803     MMM
2015-02-05  148.2815  149.4296  147.7792  149.3938  2050539     MMM
2015-02-06  149.1067  150.4074  148.5057  148.9632  1826929     MMM
2015-02-09  147.4473  148.4878  146.9629  147.8599  2072981     MMM
2015-02-10  148.3622  149.0260  147.6446  148.7390  1885097     MMM
2015-02-11  148.4907  148.8968  147.5430  148.4546  1695064     MMM
2015-02-12  148.8607  149.7814  148.7885  149.7453  1615661     MMM
2015-02-13  149.7362  150.3861  149.2218  149.7723  1792069     MMM
...              ...       ...       ...       ...      ...     ...
2018-11-15  195.0404  202.3397  193.5707  202.1227  3157494     MMM
2018-11-16  200.4754  206.9166  199.8478  206.1571  2620428     MMM
2018-11-19  205.0030  205.2200  201.5911  202.7836  3220380     MMM
2018-11-20  200.8108  201.3583  197.4669  197.7826  2677269     MMM
2018-11-21  198.3090  199.7987  197.2960  197.3258  1832769     MMM
2018-11-23  196.4022  197.3158  195.4388  195.4488   999927     MMM
2018-11-26  197.2066  200.4442  195.9652  198.4878  2321035     MMM
2018-11-27  197.7528  199.9377  195.4282  199.3121  2079649     MMM
2018-11-28  200.6031  202.9469  198.0508  202.9370  2184438     MMM
2018-11-29  202.4702  204.4267  201.2685  203.1555  1569231     MMM
2018-11-30  202.9569  206.4924  202.5795  206.4924  3171873     MMM
2018-12-03  209.7598  210.4948  205.6284  207.3267  2493454     MMM
2018-12-04  206.6315  207.1181  200.7024  200.8117  2698694     MMM
2018-12-06  198.2395  201.6857  196.8292  201.2884  2991766     MMM
2018-12-07  201.2288  202.9668  195.6573  196.8789  2254486     MMM
2018-12-10  196.9981  197.5840  192.3105  196.9583  1980356     MMM
2018-12-11  199.8781  200.6131  194.7933  196.1042  1828852     MMM
2018-12-12  199.2227  201.2288  198.3289  198.4381  1918966     MMM
2018-12-13  200.0470  201.0103  198.1509  200.7422  1831731     MMM
2018-12-14  198.7460  200.1860  194.5053  194.7536  2473515     MMM
2018-12-17  194.4954  196.8838  190.5328  191.4961  2547591     MMM
2018-12-18  192.0622  195.5679  191.8238  193.2242  2636317     MMM
2018-12-19  194.6543  196.8690  188.3975  188.6557  3266548     MMM
2018-12-20  187.8116  189.8078  184.2264  186.0934  3609477     MMM
2018-12-21  186.5702  189.1920  182.3791  182.4884  6699190     MMM
2018-12-24  180.6411  182.2798  177.2843  177.3936  2249502     MMM
2018-12-26  178.1484  185.0507  175.6556  184.9811  2925561     MMM
2018-12-27  182.2401  189.3907  181.6243  189.3907  2809032     MMM
2018-12-28  190.4930  190.9797  187.2753  188.0698  2311390     MMM
2018-12-31  189.0331  190.3341  187.2058  189.2318  1804618     MMM

[1006 rows x 6 columns]

In [11]:
# concatenate dataframe:

df = pd.concat(dataframes, axis = 0) # 0 for vertical contatenation (rows), 1 for horizontal concatenation (columns).

In [12]:
df

                   open     high      low    close   volume company
    date
A   2015-01-02  39.4968  39.6215  38.7200  38.9022  1530798       A
    2015-01-05  38.6720  38.8063  38.0773  38.1733  2042240       A
    2015-01-06  38.1828  38.3843  37.4251  37.5786  2084562       A
    2015-01-07  37.9047  38.1828  37.6841  38.0773  3359660       A
    2015-01-08  38.5953  39.3050  38.5377  39.2187  2116341       A
    2015-01-09  39.3242  39.3242  38.6432  38.9310  1644939       A
    2015-01-12  38.9501  39.0556  38.3171  38.4706  2771191       A
    2015-01-13  38.8159  39.0365  37.7225  37.9335  2013474       A
    2015-01-14  37.4347  37.5019  36.6482  37.4635  5134006       A
    2015-01-15  37.7225  37.7973  36.4372  36.4564  2630296       A
    2015-01-16  36.2838  36.8880  36.2166  36.6866  3003980       A
    2015-01-20  36.8592  37.0798  36.2166  36.3797  5033605       A
    2015-01-21  36.2070  36.8401  36.1399  36.6003  2721609       A
    2015-01-22  36.9360  38.2308  36.5619  38.0294  4856573       A
    2015-01-23  37.9814  37.9814  37.1758  37.2237  1519250       A
    2015-01-26  37.2045  37.5690  36.8976  37.5498  1511214       A
    2015-01-27  37.1182  37.6457  37.0031  37.1662  1703508       A
    2015-01-28  37.4155  37.4539  36.4085  36.4468  2033523       A
    2015-01-29  36.4468  36.8976  36.1495  36.8880  2329983       A
    2015-01-30  36.4564  36.7537  36.1687  36.2262  3054313       A
    2015-02-02  36.3509  37.1758  36.1687  37.1086  2508493       A
    2015-02-03  37.4443  38.0102  37.3292  38.0006  2950375       A
    2015-02-04  37.7225  37.8471  37.2333  37.5115  2567439       A
    2015-02-05  37.6170  38.1924  37.6170  37.9143  1826367       A
    2015-02-06  37.9239  38.1828  37.6218  37.7321  2697212       A
    2015-02-09  37.6266  37.8184  37.3580  37.4443  3586102       A
    2015-02-10  37.7033  38.1349  37.1949  38.0486  1408747       A
    2015-02-11  38.0198  38.1828  37.6290  37.7225  3337005       A
    2015-02-12  37.9622  38.4226  37.9143  38.3843  1317705       A
    2015-02-13  38.3363  38.6624  38.2788  38.5089  2211931       A
...                 ...      ...      ...      ...      ...     ...
ZTS 2018-11-15  91.7306  91.7306  89.8700  91.1635  3887900     ZTS
    2018-11-16  90.7456  92.1983  90.6859  91.8102  1883021     ZTS
    2018-11-19  91.9458  92.3643  88.9865  89.7737  2195844     ZTS
    2018-11-20  89.0264  89.7637  87.7610  88.0898  2606237     ZTS
    2018-11-21  88.4385  89.0164  88.0101  88.3588  2271073     ZTS
    2018-11-23  87.9105  89.9132  87.5816  88.9168   836265     ZTS
    2018-11-26  89.4748  89.9431  88.5083  89.1958  1908147     ZTS
    2018-11-27  88.6677  89.9630  88.5182  89.8733  1879280     ZTS
    2018-11-28  90.3715  92.6333  90.0028  92.4639  3411183     ZTS
    2018-11-29  92.1152  93.0119  91.6269  92.4340  1457262     ZTS
    2018-11-30  92.4340  93.8289  92.1251  93.5300  3143526     ZTS
    2018-12-03  94.2972  94.3271  92.7030  93.2311  1968948     ZTS
    2018-12-04  93.0069  94.1477  90.1822  90.2420  2557659     ZTS
    2018-12-06  89.2356  90.1722  87.1831  90.0826  3006398     ZTS
    2018-12-07  90.1124  90.2519  87.1931  87.7710  1768888     ZTS
    2018-12-10  87.8706  89.0463  86.9838  88.5980  1930107     ZTS
    2018-12-11  89.5844  90.2221  88.6577  89.4748  1684367     ZTS
    2018-12-12  90.3516  91.7166  90.3317  90.4014  1630309     ZTS
    2018-12-13  90.9394  91.6668  90.2221  90.6106  1908462     ZTS
    2018-12-14  89.7538  89.7637  87.5966  88.1297  2350864     ZTS
    2018-12-17  87.2728  87.2927  83.9050  84.6324  3374163     ZTS
    2018-12-18  85.5789  85.6885  83.3570  84.6822  2972107     ZTS
    2018-12-19  85.2302  86.0572  82.3905  83.1378  2922795     ZTS
    2018-12-20  82.8389  83.4068  81.1650  82.1215  2850569     ZTS
    2018-12-21  81.9421  83.5065  81.2546  81.3842  4091722     ZTS
    2018-12-24  80.6170  80.6170  78.6142  78.9929  1551429     ZTS
    2018-12-26  79.3217  82.6396  78.8534  82.6197  1869686     ZTS
    2018-12-27  81.5336  84.0246  80.8860  84.0246  2244681     ZTS
    2018-12-28  84.5228  85.2800  83.2474  84.1840  1797337     ZTS
    2018-12-31  84.9612  85.2800  84.2936  85.2302  1485209     ZTS

[497865 rows x 6 columns]

In [13]:
# saving to database:

'''If you get an error saying that the table IEX exist, delete the database from the folder (IEX.sqlite) and start
again'''

import sqlite3

conn = sqlite3.connect('IEX.sqlite')

db = df.to_sql('IEX', con=conn) 


cur = conn.cursor()

# example:
cur.execute('SELECT * FROM IEX').fetchall()

[('A', '2015-01-02 00:00:00', 39.4968, 39.6215, 38.72, 38.9022, 1530798, 'A'),
 ('A', '2015-01-05 00:00:00', 38.672, 38.8063, 38.0773, 38.1733, 2042240, 'A'),
 ('A',
  '2015-01-06 00:00:00',
  38.1828,
  38.3843,
  37.4251,
  37.5786,
  2084562,
  'A'),
 ('A',
  '2015-01-07 00:00:00',
  37.9047,
  38.1828,
  37.6841,
  38.0773,
  3359660,
  'A'),
 ('A', '2015-01-08 00:00:00', 38.5953, 39.305, 38.5377, 39.2187, 2116341, 'A'),
 ('A', '2015-01-09 00:00:00', 39.3242, 39.3242, 38.6432, 38.931, 1644939, 'A'),
 ('A',
  '2015-01-12 00:00:00',
  38.9501,
  39.0556,
  38.3171,
  38.4706,
  2771191,
  'A'),
 ('A',
  '2015-01-13 00:00:00',
  38.8159,
  39.0365,
  37.7225,
  37.9335,
  2013474,
  'A'),
 ('A',
  '2015-01-14 00:00:00',
  37.4347,
  37.5019,
  36.6482,
  37.4635,
  5134006,
  'A'),
 ('A',
  '2015-01-15 00:00:00',
  37.7225,
  37.7973,
  36.4372,
  36.4564,
  2630296,
  'A'),
 ('A', '2015-01-16 00:00:00', 36.2838, 36.888, 36.2166, 36.6866, 3003980, 'A'),
 ('A',
  '2015-01-20 00:00:00',
  36.8592,
  37.0798,
  36.2166,
  36.3797,
  5033605,
  'A'),
 ('A', '2015-01-21 00:00:00', 36.207, 36.8401, 36.1399, 36.6003, 2721609, 'A'),
 ('A', '2015-01-22 00:00:00', 36.936, 38.2308, 36.5619, 38.0294, 4856573, 'A'),
 ('A',
  '2015-01-23 00:00:00',
  37.9814,
  37.9814,
  37.1758,
  37.2237,
  1519250,
  'A'),
 ('A', '2015-01-26 00:00:00', 37.2045, 37.569, 36.8976, 37.5498, 1511214, 'A'),
 ('A',
  '2015-01-27 00:00:00',
  37.1182,
  37.6457,
  37.0031,
  37.1662,
  1703508,
  'A'),
 ('A',
  '2015-01-28 00:00:00',
  37.4155,
  37.4539,
  36.4085,
  36.4468,
  2033523,
  'A'),
 ('A', '2015-01-29 00:00:00', 36.4468, 36.8976, 36.1495, 36.888, 2329983, 'A'),
 ('A',
  '2015-01-30 00:00:00',
  36.4564,
  36.7537,
  36.1687,
  36.2262,
  3054313,
  'A'),
 ('A',
  '2015-02-02 00:00:00',
  36.3509,
  37.1758,
  36.1687,
  37.1086,
  2508493,
  'A'),
 ('A',
  '2015-02-03 00:00:00',
  37.4443,
  38.0102,
  37.3292,
  38.0006,
  2950375,
  'A'),
 ('A',
  '2015-02-04 00:00:00',
  37.7225,
  37.8471,
  37.2333,
  37.5115,
  2567439,
  'A'),
 ('A', '2015-02-05 00:00:00', 37.617, 38.1924, 37.617, 37.9143, 1826367, 'A'),
 ('A',
  '2015-02-06 00:00:00',
  37.9239,
  38.1828,
  37.6218,
  37.7321,
  2697212,
  'A'),
 ('A', '2015-02-09 00:00:00', 37.6266, 37.8184, 37.358, 37.4443, 3586102, 'A'),
 ('A',
  '2015-02-10 00:00:00',
  37.7033,
  38.1349,
  37.1949,
  38.0486,
  1408747,
  'A'),
 ('A', '2015-02-11 00:00:00', 38.0198, 38.1828, 37.629, 37.7225, 3337005, 'A'),
 ('A',
  '2015-02-12 00:00:00',
  37.9622,
  38.4226,
  37.9143,
  38.3843,
  1317705,
  'A'),
 ('A',
  '2015-02-13 00:00:00',
  38.3363,
  38.6624,
  38.2788,
  38.5089,
  2211931,
  'A'),
 ('A',
  '2015-02-17 00:00:00',
  38.3747,
  38.8734,
  38.1349,
  38.8638,
  2875788,
  'A'),
 ('A',
  '2015-02-18 00:00:00',
  39.4393,
  40.4752,
  39.2379,
  39.8421,
  9007218,
  'A'),
 ('A',
  '2015-02-19 00:00:00',
  39.7079,
  39.8709,
  39.3626,
  39.4681,
  3737331,
  'A'),
 ('A',
  '2015-02-20 00:00:00',
  39.4105,
  40.3888,
  39.2091,
  40.2354,
  2971880,
  'A'),
 ('A', '2015-02-23 00:00:00', 40.1778, 40.245, 39.7942, 40.0244, 1967913, 'A'),
 ('A', '2015-02-24 00:00:00', 39.9189, 40.384, 39.8997, 40.3409, 1922102, 'A'),
 ('A',
  '2015-02-25 00:00:00',
  40.6094,
  40.7533,
  40.3697,
  40.4752,
  2343479,
  'A'),
 ('A',
  '2015-02-26 00:00:00',
  40.5039,
  40.6478,
  40.2833,
  40.6286,
  1505418,
  'A'),
 ('A',
  '2015-02-27 00:00:00',
  40.5711,
  40.6286,
  40.3265,
  40.4847,
  1676351,
  'A'),
 ('A',
  '2015-03-02 00:00:00',
  40.6094,
  40.9931,
  40.6094,
  40.9547,
  1847082,
  'A'),
 ('A', '2015-03-03 00:00:00', 40.7149, 40.83, 40.4176, 40.5327, 1635437, 'A'),
 ('A',
  '2015-03-04 00:00:00',
  40.2354,
  40.4368,
  40.0244,
  40.2833,
  1305992,
  'A'),
 ('A',
  '2015-03-05 00:00:00',
  40.2737,
  40.5135,
  40.1299,
  40.4943,
  1376468,
  'A'),
 ('A',
  '2015-03-06 00:00:00',
  40.2354,
  40.3313,
  39.7942,
  39.8325,
  1528564,
  'A'),
 ('A', '2015-03-09 00:00:00', 39.8421, 40.1778, 39.7414, 40.034, 1492378, 'A'),
 ('A',
  '2015-03-10 00:00:00',
  39.5352,
  39.5832,
  38.9693,
  38.9693,
  1961299,
  'A'),
 ('A',
  '2015-03-11 00:00:00',
  39.1228,
  39.4441,
  39.0077,
  39.1803,
  2064355,
  'A'),
 ('A',
  '2015-03-12 00:00:00',
  39.3146,
  39.5544,
  39.2954,
  39.4201,
  2719895,
  'A'),
 ('A', '2015-03-13 00:00:00', 39.2858, 39.7618, 38.859, 39.1995, 4704560, 'A'),
 ('A',
  '2015-03-16 00:00:00',
  39.4777,
  40.1203,
  39.4297,
  40.1011,
  2551437,
  'A'),
 ('A', '2015-03-17 00:00:00', 39.823, 39.986, 39.3818, 39.8805, 1504881, 'A'),
 ('A',
  '2015-03-18 00:00:00',
  39.7558,
  40.6478,
  39.4873,
  40.3984,
  1295556,
  'A'),
 ('A',
  '2015-03-19 00:00:00',
  40.3313,
  40.5231,
  40.1107,
  40.4847,
  1085684,
  'A'),
 ('A',
  '2015-03-20 00:00:00',
  40.6574,
  40.7917,
  40.4752,
  40.4847,
  2315472,
  'A'),
 ('A',
  '2015-03-23 00:00:00',
  40.3984,
  40.7053,
  40.2833,
  40.4752,
  1835393,
  'A'),
 ('A', '2015-03-24 00:00:00', 40.408, 40.408, 39.3338, 39.4105, 3625952, 'A'),
 ('A', '2015-03-25 00:00:00', 39.4873, 39.9908, 39.1228, 39.142, 2776181, 'A'),
 ('A',
  '2015-03-26 00:00:00',
  39.0173,
  39.2954,
  38.7202,
  39.0365,
  1573740,
  'A'),
 ('A',
  '2015-03-27 00:00:00',
  39.0365,
  39.5941,
  39.0172,
  39.5268,
  1932749,
  'A'),
 ('A', '2015-03-30 00:00:00', 39.921, 40.2479, 39.7287, 40.1133, 2064181, 'A'),
 ('A', '2015-03-31 00:00:00', 39.6903, 40.171, 39.5191, 39.9499, 1659179, 'A'),
 ('A', '2015-04-01 00:00:00', 39.8633, 39.921, 39.1518, 39.796, 2170331, 'A'),
 ('A', '2015-04-02 00:00:00', 39.873, 40.5075, 39.7384, 40.4306, 2135918, 'A'),
 ('A',
  '2015-04-06 00:00:00',
  40.0749,
  40.5748,
  39.9114,
  40.3152,
  2379808,
  'A'),
 ('A',
  '2015-04-07 00:00:00',
  40.3249,
  40.8825,
  40.2576,
  40.8056,
  3072418,
  'A'),
 ('A', '2015-04-08 00:00:00', 40.796, 40.9498, 40.4066, 40.6325, 2443178, 'A'),
 ('A',
  '2015-04-09 00:00:00',
  40.5364,
  40.9498,
  40.4499,
  40.8537,
  1332519,
  'A'),
 ('A',
  '2015-04-10 00:00:00',
  41.1517,
  41.8825,
  40.9306,
  41.8729,
  3370597,
  'A'),
 ('A',
  '2015-04-13 00:00:00',
  41.9113,
  41.9113,
  41.3344,
  41.3825,
  3708641,
  'A'),
 ('A',
  '2015-04-14 00:00:00',
  41.3056,
  41.5363,
  40.9402,
  41.4113,
  1777705,
  'A'),
 ('A',
  '2015-04-15 00:00:00',
  41.6133,
  41.8825,
  41.5171,
  41.7094,
  1445622,
  'A'),
 ('A', '2015-04-16 00:00:00', 41.4787, 41.6902, 41.4017, 41.469, 1070232, 'A'),
 ('A',
  '2015-04-17 00:00:00',
  41.0941,
  41.3921,
  40.9594,
  41.3248,
  2333369,
  'A'),
 ('A',
  '2015-04-20 00:00:00',
  41.6613,
  41.7671,
  41.4883,
  41.5267,
  1410574,
  'A'),
 ('A', '2015-04-21 00:00:00', 41.7479, 41.8248, 41.219, 41.2383, 1719710, 'A'),
 ('A',
  '2015-04-22 00:00:00',
  41.0748,
  41.1902,
  40.7383,
  41.0652,
  2726140,
  'A'),
 ('A',
  '2015-04-23 00:00:00',
  40.7864,
  41.2094,
  40.6133,
  40.9787,
  3973179,
  'A'),
 ('A',
  '2015-04-24 00:00:00',
  41.0652,
  41.1614,
  40.7864,
  40.8537,
  2200155,
  'A'),
 ('A',
  '2015-04-27 00:00:00',
  41.0941,
  41.1229,
  40.3489,
  40.3633,
  2298298,
  'A'),
 ('A',
  '2015-04-28 00:00:00',
  40.2576,
  40.6806,
  39.9691,
  40.5556,
  1803453,
  'A'),
 ('A', '2015-04-29 00:00:00', 40.421, 40.5748, 39.8441, 40.3441, 2160963, 'A'),
 ('A',
  '2015-04-30 00:00:00',
  40.2191,
  40.3249,
  39.5268,
  39.7768,
  1726312,
  'A'),
 ('A',
  '2015-05-01 00:00:00',
  39.8153,
  40.3152,
  39.6518,
  40.2191,
  1880177,
  'A'),
 ('A',
  '2015-05-04 00:00:00',
  40.2672,
  40.4595,
  40.0941,
  40.3249,
  1073820,
  'A'),
 ('A',
  '2015-05-05 00:00:00',
  40.1133,
  40.2383,
  39.8585,
  39.9883,
  1254801,
  'A'),
 ('A', '2015-05-06 00:00:00', 40.2479, 40.2479, 39.7672, 39.9883, 934611, 'A'),
 ('A', '2015-05-07 00:00:00', 39.9883, 40.2383, 39.7191, 40.1903, 999682, 'A'),
 ('A',
  '2015-05-08 00:00:00',
  40.6037,
  40.8921,
  40.5845,
  40.8633,
  1034717,
  'A'),
 ('A', '2015-05-11 00:00:00', 40.7575, 41.1806, 40.7575, 40.9787, 975490, 'A'),
 ('A', '2015-05-12 00:00:00', 40.7287, 40.8633, 39.9018, 40.296, 2617833, 'A'),
 ('A',
  '2015-05-13 00:00:00',
  40.4306,
  40.7575,
  40.1037,
  40.1999,
  1992774,
  'A'),
 ('A', '2015-05-14 00:00:00', 40.5556, 40.599, 40.2576, 40.4306, 2883667, 'A'),
 ('A', '2015-05-15 00:00:00', 40.5172, 40.6325, 40.3729, 40.421, 2147413, 'A'),
 ('A',
  '2015-05-18 00:00:00',
  40.4306,
  41.0556,
  40.3633,
  40.9883,
  1966147,
  'A'),
 ('A',
  '2015-05-19 00:00:00',
  39.9691,
  41.1806,
  39.9018,
  40.7383,
  5277345,
  'A'),
 ('A', '2015-05-20 00:00:00', 40.8633, 41.1881, 40.796, 40.9691, 2652326, 'A'),
 ('A',
  '2015-05-21 00:00:00',
  40.9306,
  41.0844,
  40.5748,
  40.6902,
  2126257,
  'A'),
 ('A',
  '2015-05-22 00:00:00',
  40.6422,
  41.0267,
  40.4499,
  40.8633,
  1484752,
  'A'),
 ('A',
  '2015-05-26 00:00:00',
  40.8441,
  40.9883,
  40.3681,
  40.4402,
  1919645,
  'A'),
 ('A',
  '2015-05-27 00:00:00',
  40.6422,
  41.2767,
  40.4787,
  40.9691,
  2507443,
  'A'),
 ('A',
  '2015-05-28 00:00:00',
  40.8152,
  41.0652,
  39.7576,
  40.1422,
  3347403,
  'A'),
 ('A', '2015-05-29 00:00:00', 40.1806, 40.2191, 39.248, 39.6037, 5022554, 'A'),
 ('A',
  '2015-06-01 00:00:00',
  39.8345,
  39.8345,
  39.2768,
  39.3441,
  2440065,
  'A'),
 ('A',
  '2015-06-02 00:00:00',
  39.3634,
  39.5557,
  39.1038,
  39.5268,
  2947454,
  'A'),
 ('A',
  '2015-06-03 00:00:00',
  39.7191,
  39.7672,
  39.3634,
  39.5172,
  2722286,
  'A'),
 ('A', '2015-06-04 00:00:00', 39.3153, 39.498, 38.4692, 38.9788, 4091870, 'A'),
 ('A',
  '2015-06-05 00:00:00',
  38.9788,
  39.1038,
  38.6519,
  38.7576,
  1760467,
  'A'),
 ('A', '2015-06-08 00:00:00', 38.7096, 38.7961, 38.373, 38.4115, 1353411, 'A'),
 ('A', '2015-06-09 00:00:00', 38.3923, 38.7769, 38.2964, 38.575, 1439015, 'A'),
 ('A',
  '2015-06-10 00:00:00',
  38.8442,
  39.0269,
  38.7192,
  38.9595,
  1789330,
  'A'),
 ('A',
  '2015-06-11 00:00:00',
  39.0076,
  39.0365,
  38.7384,
  38.9692,
  1576987,
  'A'),
 ('A',
  '2015-06-12 00:00:00',
  38.7769,
  38.9307,
  38.2048,
  38.3057,
  2769551,
  'A'),
 ('A',
  '2015-06-15 00:00:00',
  38.1038,
  38.1038,
  37.7385,
  37.9981,
  2361878,
  'A'),
 ('A',
  '2015-06-16 00:00:00',
  38.0654,
  38.2769,
  37.8635,
  38.2577,
  1422563,
  'A'),
 ('A', '2015-06-17 00:00:00', 38.2288, 38.2673, 37.8058, 38.075, 1519421, 'A'),
 ('A',
  '2015-06-18 00:00:00',
  38.2673,
  38.5125,
  38.1904,
  38.3634,
  1865267,
  'A'),
 ('A',
  '2015-06-19 00:00:00',
  38.2673,
  38.4019,
  37.9692,
  37.9692,
  2658779,
  'A'),
 ('A', '2015-06-22 00:00:00', 38.2769, 38.4692, 38.2, 38.2769, 3909250, 'A'),
 ('A', '2015-06-23 00:00:00', 38.3538, 38.4115, 37.9019, 38.075, 2053553, 'A'),
 ('A', '2015-06-24 00:00:00', 37.95, 38.8922, 37.5221, 38.6423, 6127695, 'A'),
 ('A',
  '2015-06-25 00:00:00',
  38.2673,
  38.9595,
  37.8635,
  38.5076,
  5265822,
  'A'),
 ('A', '2015-06-26 00:00:00', 38.5558, 38.7197, 38.339, 38.5751, 3350458, 'A'),
 ('A',
  '2015-06-29 00:00:00',
  38.1703,
  38.3631,
  37.3413,
  37.3413,
  2516360,
  'A'),
 ('A',
  '2015-06-30 00:00:00',
  37.6691,
  37.7751,
  37.0907,
  37.1871,
  3037436,
  'A'),
 ('A', '2015-07-01 00:00:00', 37.4859, 37.8763, 37.351, 37.8426, 4486572, 'A'),
 ('A', '2015-07-02 00:00:00', 37.939, 38.2088, 37.7365, 38.151, 2160799, 'A'),
 ('A', '2015-07-06 00:00:00', 37.698, 38.2281, 37.6691, 37.939, 2509428, 'A'),
 ('A',
  '2015-07-07 00:00:00',
  38.1028,
  38.3534,
  37.7229,
  38.3534,
  2927761,
  'A'),
 ('A', '2015-07-08 00:00:00', 38.0546, 38.0546, 37.3124, 37.351, 3390976, 'A'),
 ('A', '2015-07-09 00:00:00', 37.8522, 37.91, 37.5052, 37.5148, 2237945, 'A'),
 ('A',
  '2015-07-10 00:00:00',
  37.8715,
  38.0161,
  37.7414,
  37.9775,
  2107093,
  'A'),
 ('A', '2015-07-13 00:00:00', 38.286, 38.5558, 38.1125, 38.5173, 1579730, 'A'),
 ('A', '2015-07-14 00:00:00', 38.604, 39.192, 38.4498, 39.0282, 2801301, 'A'),
 ('A',
  '2015-07-15 00:00:00',
  38.9607,
  39.0571,
  38.5751,
  38.6812,
  2247745,
  'A'),
 ('A', '2015-07-16 00:00:00', 38.9029, 38.98, 38.6715, 38.8836, 1826485, 'A'),
 ('A',
  '2015-07-17 00:00:00',
  38.7486,
  38.8739,
  38.4016,
  38.5077,
  2412373,
  'A'),
 ('A',
  '2015-07-20 00:00:00',
  38.6137,
  38.6812,
  38.5077,
  38.6137,
  1155252,
  'A'),
 ('A',
  '2015-07-21 00:00:00',
  38.5269,
  38.5655,
  38.1125,
  38.1414,
  1160904,
  'A'),
 ('A',
  '2015-07-22 00:00:00',
  37.8715,
  38.9607,
  37.8715,
  38.8739,
  2949376,
  'A'),
 ('A',
  '2015-07-23 00:00:00',
  38.9125,
  38.9125,
  38.5655,
  38.7968,
  1708801,
  'A'),
 ('A', '2015-07-24 00:00:00', 38.6619, 38.7197, 37.804, 37.8908, 1844946, 'A'),
 ('A', '2015-07-27 00:00:00', 37.6305, 38.2185, 37.216, 38.1799, 5261424, 'A'),
 ('A',
  '2015-07-28 00:00:00',
  38.5558,
  39.0089,
  38.0739,
  38.9896,
  2768225,
  'A'),
 ('A',
  '2015-07-29 00:00:00',
  39.0378,
  39.2595,
  38.7872,
  38.9414,
  2014066,
  'A'),
 ('A',
  '2015-07-30 00:00:00',
  38.8065,
  39.5679,
  38.6233,
  39.4908,
  2440415,
  'A'),
 ('A',
  '2015-07-31 00:00:00',
  39.5679,
  39.6547,
  39.3077,
  39.4715,
  2247715,
  'A'),
 ('A', '2015-08-03 00:00:00', 39.4426, 39.645, 39.1149, 39.5197, 2104591, 'A'),
 ('A', '2015-08-04 00:00:00', 39.4619, 39.8571, 39.086, 39.1535, 1448062, 'A'),
 ('A', '2015-08-05 00:00:00', 39.4619, 39.7029, 39.2209, 39.2499, 949479, 'A'),
 ('A',
  '2015-08-06 00:00:00',
  39.4715,
  39.4812,
  38.4691,
  38.6715,
  1932226,
  'A'),
 ('A',
  '2015-08-07 00:00:00',
  38.6908,
  38.7582,
  38.1992,
  38.5462,
  1513076,
  'A'),
 ('A',
  '2015-08-10 00:00:00',
  38.7872,
  39.1727,
  38.7101,
  39.0089,
  1554542,
  'A'),
 ('A', '2015-08-11 00:00:00', 38.739, 38.739, 37.8811, 37.9968, 1575708, 'A'),
 ('A', '2015-08-12 00:00:00', 37.6401, 37.698, 36.8883, 37.4859, 3440282, 'A'),
 ('A',
  '2015-08-13 00:00:00',
  37.5341,
  37.5341,
  37.0714,
  37.1678,
  2848895,
  'A'),
 ('A',
  '2015-08-14 00:00:00',
  37.2257,
  37.3317,
  36.9365,
  37.2546,
  2632739,
  'A'),
 ('A',
  '2015-08-17 00:00:00',
  36.9751,
  37.6064,
  36.7437,
  37.4184,
  3302058,
  'A'),
 ('A', '2015-08-18 00:00:00', 37.698, 38.8932, 37.592, 37.6112, 6416891, 'A'),
 ('A', '2015-08-19 00:00:00', 37.2931, 37.404, 36.9172, 37.0136, 2730429, 'A'),
 ('A',
  '2015-08-20 00:00:00',
  36.6377,
  36.9269,
  36.1461,
  36.1557,
  2145028,
  'A'),
 ('A', '2015-08-21 00:00:00', 35.7895, 36.1413, 34.8689, 34.922, 3828206, 'A'),
 ('A', '2015-08-24 00:00:00', 32.6472, 34.7099, 32.358, 33.4279, 4114990, 'A'),
 ('A',
  '2015-08-25 00:00:00',
  34.3918,
  34.8641,
  33.0616,
  33.1195,
  3802732,
  'A'),
 ('A', '2015-08-26 00:00:00', 34.0834, 34.4111, 33.2255, 34.334, 3233814, 'A'),
 ('A',
  '2015-08-27 00:00:00',
  34.8641,
  35.3461,
  34.5942,
  35.3172,
  2406297,
  'A'),
 ('A', '2015-08-28 00:00:00', 35.134, 35.3364, 34.8448, 35.1918, 1783861, 'A'),
 ('A',
  '2015-08-31 00:00:00',
  35.1244,
  35.2328,
  34.6521,
  34.9991,
  2554666,
  'A'),
 ('A',
  '2015-09-01 00:00:00',
  34.0255,
  34.2954,
  33.3219,
  33.4954,
  2954093,
  'A'),
 ('A',
  '2015-09-02 00:00:00',
  34.1316,
  34.2472,
  33.6207,
  34.2472,
  2119191,
  'A'),
 ('A',
  '2015-09-03 00:00:00',
  34.3243,
  34.8159,
  34.2424,
  34.4593,
  2140822,
  'A'),
 ('A', '2015-09-04 00:00:00', 33.7749, 34.228, 33.64, 33.7942, 2819027, 'A'),
 ('A', '2015-09-08 00:00:00', 34.5268, 34.9412, 34.228, 34.9027, 1787408, 'A'),
 ('A',
  '2015-09-09 00:00:00',
  35.1822,
  35.4714,
  34.1605,
  34.2569,
  1885293,
  'A'),
 ('A',
  '2015-09-10 00:00:00',
  34.3243,
  34.7388,
  34.1605,
  34.5653,
  1628726,
  'A'),
 ('A',
  '2015-09-11 00:00:00',
  34.3725,
  34.6617,
  34.1605,
  34.6617,
  1443721,
  'A'),
 ('A', '2015-09-14 00:00:00', 34.6232, 34.787, 34.0448, 34.2665, 2223319, 'A'),
 ('A', '2015-09-15 00:00:00', 34.4593, 34.9846, 34.228, 34.8448, 1752721, 'A'),
 ('A', '2015-09-16 00:00:00', 34.8448, 35.534, 34.7581, 35.2015, 2130117, 'A'),
 ('A',
  '2015-09-17 00:00:00',
  35.3075,
  35.6545,
  34.9798,
  35.0858,
  1819067,
  'A'),
 ('A',
  '2015-09-18 00:00:00',
  34.5653,
  34.9123,
  34.3002,
  34.4496,
  3352296,
  'A'),
 ('A',
  '2015-09-21 00:00:00',
  34.6617,
  34.7677,
  34.1316,
  34.4015,
  2640363,
  'A'),
 ('A',
  '2015-09-22 00:00:00',
  33.9195,
  34.0545,
  33.6785,
  33.7846,
  2283337,
  'A'),
 ('A',
  '2015-09-23 00:00:00',
  33.8328,
  33.9677,
  33.5532,
  33.6882,
  1962552,
  'A'),
 ('A',
  '2015-09-24 00:00:00',
  33.3123,
  33.3894,
  32.9171,
  33.3026,
  2028940,
  'A'),
 ('A',
  '2015-09-25 00:00:00',
  33.5443,
  33.8536,
  32.9643,
  33.3026,
  2730672,
  'A'),
 ('A',
  '2015-09-28 00:00:00',
  32.9933,
  33.1286,
  32.2102,
  32.2586,
  2615440,
  'A'),
 ('A',
  '2015-09-29 00:00:00',
  32.2489,
  32.9256,
  32.1377,
  32.6163,
  2252364,
  'A'),
 ('A',
  '2015-09-30 00:00:00',
  32.9449,
  33.2833,
  32.5486,
  33.1866,
  2545749,
  'A'),
 ('A',
  '2015-10-01 00:00:00',
  33.1769,
  33.3316,
  32.3649,
  32.6163,
  3011460,
  'A'),
 ('A',
  '2015-10-02 00:00:00',
  32.0749,
  33.5249,
  32.0121,
  33.5153,
  3519448,
  'A'),
 ('A', '2015-10-05 00:00:00', 33.873, 34.2113, 33.6796, 34.163, 1675429, 'A'),
 ('A', '2015-10-06 00:00:00', 33.96, 34.0373, 33.3799, 33.7376, 1833679, 'A'),
 ('A', '2015-10-07 00:00:00', 34.0276, 34.5883, 33.931, 34.3563, 3089575, 'A'),
 ('A', '2015-10-08 00:00:00', 34.2113, 34.8686, 34.163, 34.8106, 2598314, 'A'),
 ('A', '2015-10-09 00:00:00', 34.743, 35.1297, 34.685, 35.0233, 3232938, 'A'),
 ('A',
  '2015-10-12 00:00:00',
  34.8783,
  34.9736,
  34.6656,
  34.7913,
  1349866,
  'A'),
 ('A', '2015-10-13 00:00:00', 34.569, 35.033, 34.3466, 34.4433, 2383212, 'A'),
 ('A', '2015-10-14 00:00:00', 34.453, 34.5786, 33.8053, 33.8826, 1647407, 'A'),
 ('A', '2015-10-15 00:00:00', 33.9503, 34.4916, 33.6313, 34.395, 1432995, 'A'),
 ('A', '2015-10-16 00:00:00', 34.5013, 34.8203, 34.192, 34.5883, 1754319, 'A'),
 ('A',
  '2015-10-19 00:00:00',
  34.5013,
  35.0233,
  34.4046,
  35.0233,
  3685845,
  'A'),
 ('A', '2015-10-20 00:00:00', 34.9073, 35.3037, 34.83, 35.1103, 2635777, 'A'),
 ('A', '2015-10-21 00:00:00', 35.323, 35.381, 34.6076, 34.7043, 2886412, 'A'),
 ('A', '2015-10-22 00:00:00', 34.83, 35.7193, 34.801, 34.888, 3696278, 'A'),
 ('A', '2015-10-23 00:00:00', 35.2843, 36.0287, 34.975, 35.874, 2732645, 'A'),
 ('A', '2015-10-26 00:00:00', 35.7483, 35.874, 35.4641, 35.6033, 1948411, 'A'),
 ('A', '2015-10-27 00:00:00', 35.4487, 35.8257, 35.2505, 35.816, 2557172, 'A'),
 ('A',
  '2015-10-28 00:00:00',
  35.8257,
  36.3574,
  35.5453,
  36.2704,
  1780126,
  'A'),
 ('A', '2015-10-29 00:00:00', 36.222, 36.512, 36.0383, 36.4444, 1352267, 'A'),
 ('A', '2015-10-30 00:00:00', 36.4637, 36.831, 36.425, 36.5024, 2194619, 'A'),
 ('A', '2015-11-02 00:00:00', 36.6087, 37.3337, 36.541, 37.3047, 1810869, 'A'),
 ('A', '2015-11-03 00:00:00', 37.034, 37.237, 36.889, 36.9954, 1485779, 'A'),
 ('A', '2015-11-04 00:00:00', 37.0534, 37.1984, 36.7344, 37.063, 1569620, 'A'),
 ('A',
  '2015-11-05 00:00:00',
  36.9954,
  37.2177,
  36.6667,
  37.0244,
  1419963,
  'A'),
 ('A', '2015-11-06 00:00:00', 36.831, 37.1597, 36.715, 36.8697, 1964478, 'A'),
 ('A', '2015-11-09 00:00:00', 36.773, 36.8117, 36.2317, 36.657, 3109588, 'A'),
 ('A', '2015-11-10 00:00:00', 36.628, 36.9035, 36.4347, 36.715, 4339800, 'A'),
 ('A', '2015-11-11 00:00:00', 36.889, 36.947, 36.396, 36.4057, 1969168, 'A'),
 ('A', '2015-11-12 00:00:00', 36.1157, 36.512, 35.9997, 36.2414, 3096336, 'A'),
 ('A', '2015-11-13 00:00:00', 36.1447, 36.3187, 35.41, 35.5453, 3335092, 'A'),
 ('A', '2015-11-16 00:00:00', 35.526, 36.2414, 35.381, 36.0867, 2490208, 'A'),
 ('A',
  '2015-11-17 00:00:00',
  35.2843,
  37.2177,
  35.2843,
  37.1017,
  7679493,
  'A'),
 ('A', '2015-11-18 00:00:00', 37.15, 38.0491, 37.0824, 38.0297, 6589609, 'A'),
 ('A', '2015-11-19 00:00:00', 37.8557, 38.3729, 37.034, 37.2177, 7275136, 'A'),
 ('A', '2015-11-20 00:00:00', 37.4884, 38.0442, 37.237, 37.9717, 5447723, 'A'),
 ('A',
  '2015-11-23 00:00:00',
  37.9814,
  38.7354,
  37.8364,
  38.6968,
  6474141,
  'A'),
 ('A',
  '2015-11-24 00:00:00',
  38.4841,
  39.3638,
  38.4067,